@tailwind base;
@tailwind components;
@tailwind utilities;


.layer {
  @apply 3xl:max-w-[1300px] 2xl:max-w-[1200px] xl:max-w-[1100px] lg:max-w-[950px] xmd:max-w-[800px] m-auto md:max-w-[700px] sm:max-w-[600px]
}

.back-img {
  background-image: url(./assets/back-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 42%;
}

.grid-cols-20 {
  grid-template-columns: repeat(20, 1fr);
}

.font-secondary {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.height-calc {
  min-height: calc(100vh - 71px);
}

@media (max-width: 400px) {
  .height-calc {
    min-height: calc(100vh - 51px);
  }
}

.bg-position {
  background-position: 200% 50%;
}

.custom-height {
  height: calc(100vh - 72px);
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #12372A;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ADBC9F;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FBFADA;
}

.animation-rotate {
  animation: rotatation 10s infinite linear;
  transform-origin: center center;
}

@keyframes rotatation {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.animation-rotate-inverse {
  animation: rotatation-inverse 10s infinite linear;
  transform-origin: center center;
}

@keyframes rotatation-inverse {
  from {
      transform: rotate(360deg);
  }

  to {
      transform: rotate(0deg);
  }
}

.menu-open {
  right: 0;
  transition-property: right;
  transition-duration: 0.3s; /* Adjust duration as needed */
}

.menu-closed {
  right: -100%;
  transition-property: right;
  transition-duration: 0.3s; /* Adjust duration as needed */
}